@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <h2>Criando transações no Redis Cache</h2>
    <ol>
        <li>Informe o número de transações</li>
        <li>Aperte o botão</li>
        <li>Veja a magia acontecer</li>
    </ol>
</div>
<div class="row">
    <form class="form-inline">
        <div class="form-group">
            <label>Número de Transações</label>
            <input type="text" class="form-control" id="transactionCount" placeholder="0" />
        </div>
        <button type="button" class="btn btn-primary" id="btnCreateTransactions">Criar</button>
        <button type="button" class="btn btn-danger" id="btnClearConsole">Limpar</button>
    </form>
</div>
<br />
<div class="row top17">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="color: #FFF; background-color: #000; max-height: 300px; overflow-y: scroll" id="console"></div>
    <div class="col-md-1"></div>
</div>
<div class="row top17">

    <div class="col-md-6">
        <h2>Buscando transações no Redis Cache</h2>
        <ol>
            <li>Informe o Id da transação</li>
            <li>Aperte o botão</li>
            <li>??</li>
            <li>Profit!</li>
        </ol>
    </div>
    <div class="col-md-6">
        <h2>Total de transações no Cache</h2>
        <h1 id="total">0</h1>
    </div>
</div>
<div class="row">
    <form class="form-inline">
        <div class="form-group">
            <label>Id da transação</label>
            <input type="text" class="form-control" id="transactionId" placeholder="0" />
        </div>
        <button type="button" class="btn btn-primary" id="btnGetTransaction">Buscar</button>
    </form>
</div>
<br />
<div class="row top17">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <pre id="transactionJson"></pre>
    </div>
    <div class="col-md-1"></div>
</div>

@section scripts{
    <script>
        var createdTransactionCount = 0;

        $(function () {
            setInterval(function () {
                $.ajax({
                    url: '/Cache/Count/'
                }).done(function (r) {
                    $('#total').html(r);
                });
            }, 1000);

            $('#btnClearConsole').click(function() {
                $('#console').html('');
            });

            $('#btnCreateTransactions').click(function () {
                var count = parseInt($('#transactionCount').val());
                createTransaction(createdTransactionCount + count);
            });

            $('#btnGetTransaction').click(function () {
                $.ajax({
                    url: '/Cache/Get/' + $('#transactionId').val(),
                }).done(function (r) {
                    $('#transactionJson').html(syntaxHighlight(JSON.stringify(r, null, 4)));
                });
            });

            function createTransaction(count) {
                $.ajax({
                    url: '/Cache/AddTransaction',
                }).done(function (r) {
                    $('#console').append("<p>#" + (createdTransactionCount + 1) + " - Id " + r.Id + " created in " + r.Time + "ms</p>");

                    var objDiv = document.getElementById("console");
                    objDiv.scrollTop = objDiv.scrollHeight;

                    createdTransactionCount++;

                    if (createdTransactionCount < count)
                        createTransaction(count);
                });
            }

            function syntaxHighlight(json) {
                if (typeof json != 'string') {
                    json = JSON.stringify(json, undefined, 2);
                }
                json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
                return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                    var cls = 'number';
                    if (/^"/.test(match)) {
                        if (/:$/.test(match)) {
                            cls = 'key';
                        } else {
                            cls = 'string';
                        }
                    } else if (/true|false/.test(match)) {
                        cls = 'boolean';
                    } else if (/null/.test(match)) {
                        cls = 'null';
                    }
                    return '<span class="' + cls + '">' + match + '</span>';
                });
            }
        });
    </script>
}